.project {
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    min-height: 600px;
    background: #ffffff;
    opacity: 1;
    position: relative;
    transform: none;
    -webkit-transform: none;
    transform-origin: 50% 0 0;
    -webkit-transform-origin: 50% 0 0;
    box-sizing: border-box;
}

.project-nav { padding: 20px 30px 10px; border-bottom: 1px solid #E3E3E3; }
.project-nav-left { display: inline-block; }
.project-nav-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: 26px;
    font-size: 13px;
    color: #30B5AA;
    float: left;
}
.project-nav-left ul li { float: left; }
.project-nav-left ul li span, .project-nav-left ul li a {
    line-height: 26px;
    padding: 3px 10px;
}
.pj-label:hover {
    background: #d1d1d1;
    color: #ffffff;
    border-radius: 9px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .4s ease-out;
}
.pj-label-active { background: #93C9FF; color: #ffffff; border-radius: 9px; }
.pj-nav a { text-decoration: none; color: #499eb9; }

.project-nav-right { float: right; display: inline-block; }
.search-box { width: 125px; }
.search-box input, .search-box .search-icon, .search-box .search-clear-btn {
    font-size: 10px;
    height: 26px;
    line-height: 25px;
}
.search-box input { width: 100px; }
.search-box input:focus { transition: all .2s ease-out; width: 130px; }

.project-list { overflow-y: hidden; overflow-x: hidden; margin: 0 auto 30px; padding-bottom: 10px; }
.pj-card {
    float: left; width: 195px; height: 195px; border: 1px solid #F5F5F5; margin: 25px 0 0 36px;
    background-color: #F5F5F5; border-radius: 8px; padding: 20px 25px; text-align: center;
    color: #3c3c3c;
    /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075); box-shadow: 0 1px 2px rgba(0,0,0,.075);*/
}
.pj-card:hover { -webkit-box-shadow: 3px 5px 12px rgba(0,0,0,.12); box-shadow: 3px 5px 12px rgba(0,0,0,.12); }
.pj-card:hover .pj-card-opt { display: block; }
.pj-card a { text-decoration: none; }
.pj-card img { width: 120px; margin-bottom: 10px; }
.pj-card span { font-weight: bold; font-size: 15px; color: #5a5a5a; }
.pj-card-opt { position: relative; margin-top: -165px; margin-left: 145px; cursor: pointer; display: none; }
.pj-card-opt .icon { font-size: 18px; }

.page-tab { margin: 0 auto; text-align: center; }

.pager-loose { display: inline-block; }
.pager-loose.pager-pills > li > a, .pager-loose.pager-pills > li > span {
    border-radius: 50%; width: 30px; height: 30px; padding: 5px 0; margin-left: 7px;
    font-size: 13px; color: #3c3c3c;
}
.pager > li.active > a, .pager > li.active > span, .pager > li.active > a:hover, .pager > li.active > span:hover {
    background-color: #9ba3dc; color: #ffffff; border-color: #9ba3dc;
}
.pager-label { margin-left: 10px; font-size: 13px; }